html,
body {
  margin:0;
  padding:0;
  width:100vw;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;

  div {}
  canvas {
    margin: 5px;
    border: 1px solid grey;
  }
  .btn {
    margin: 10px;
    text-align: center;
    width: 200px;
    height: 45px;
    background: lightblue;
    cursor: pointer;
    font-family: Arial, Sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    box-sizing: border-box;
    padding-top: 14px;
    font-size: 18px;
    &.train-btn {
      background: lightgrey;
    }
  }
  .preloader{
    top:0px;
    left:0px;
    position:absolute;
    width:100vw;
    height:100vh;
    background:lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    z-index: 100;
    transition: left 1s 1s;

    .preloader-title{
      font-size: 40px;
      text-transform: uppercase;
      font-family: Arial, Sans-serif;
    }
    .preloader-rotator{
      margin-left: 30px;
      width:50px;
      height:50px;
      background-image: url('../img/preloader.png');
      background-repeat: no-repeat;
      background-size: 100% auto;
      animation: rotating 3s linear infinite;
    }

    &.hidden{
      left:100vw;
      transition: left 1s 1s;
    }
  }

  .content {
    display: flex;

    .ui-container {
      .result-area {
        margin-left: 10px;
        #result {
          font-size: 68px;
          font-family: Arial, Sans-serif;
        }
      }
    }

    .result-container {
      padding: 5px;
      margin: 5px;
      border: 2px solid grey;
      flex: 0 0 200px;
      .result-container-graph {
        display: flex;
        align-items: flex-end;
        width: 200px;
        background-color: lightblue;
        height: 200px;
        div {
          background-color: grey;
          width: 20px;
          flex: 0 0 20px;
          transition: all 0.5s;
          margin: 0px;
        }
      }
      .result-container-description {
        display: flex;
        align-items: flex-end;
        width: 200px;
        div {
          text-align: center;
          width: 20px;
          flex: 0 0 20px;
          transition: all 0.5s;
          margin: 0px;
        }
      }
    }
		
		.net-container{
      margin:5px;
      
      .container-content-wrapper{
        margin:5px;
        display: block;

        .input-block{
          margin: 5px auto;

          input{
            width:100%;
          }
        }
      }
    
      &.hidden-container{
        .container-content-wrapper{
          display: none;
        }
      }
    }

    .canvas-container {
      #dataCanvas {
        flex: 0 0 100px;
        width: 100px;
        height: 100px;
        margin: 5px;
      }
    }
  }

}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}