//= templates/head.html
//= templates/header.html

<div class="content" id="root">
	<div class = 'ui-container'>
		<div class = 'submit-btn btn'>РАСПОЗНАТЬ</div>
		<div class = 'clear-btn btn'>ОЧИСТИТЬ</div>
		<div class = 'result-area'>Результат: <span id = 'result'></span></div>
	</div>
	<div class = 'canvas-container'></div>
	<div class = 'result-container'>
		<div class = 'result-graph-container'>
			<div class = 'result-container-graph'></div>
			<div class = 'result-container-description'>
				<div>0</div>
				<div>1</div>
				<div>2</div>
				<div>3</div>
				<div>4</div>
				<div>5</div>
				<div>6</div>
				<div>7</div>
				<div>8</div>
				<div>9</div>
			</div>
		</div>
	</div>
	<div class = 'net-container hidden-container'>
		<button class = 'toggle-btn'>toggle net menu</button>
		<div class = 'container-content-wrapper'>
			<div class = 'input-block'>
				<div class = 'input-title'>Число входных нейронов</div>
				<input id = 'inEnum' type = 'number' min="1" max="10000" step="1" placeholder="от 1 до 10000" value = '784' disabled=""/>
			</div>

			<div class = 'input-block'>
				<div class = 'input-title'>Число скрытых нейронов</div>
				<input id = 'mediumEnum' type = 'number' min="1" max="10000" step="1" placeholder="от 1 до 10000"/>
			</div>

			<div class = 'input-block'>
				<div class = 'input-title'>Число выходных нейронов</div>
				<input id = 'mediumEnum' type = 'number' min="1" max="10000" step="1" placeholder="от 1 до 10000" value = '10' disabled=""/>
			</div>

			<div class = 'input-block'>
				<div class = 'input-title'>массивы для тренировки</div>
				<input id = 'inputDigits' type = 'number' min="1" max="10000" step="1" placeholder="от 1 до 60000" value = '1'/>
			</div>

			<div class = 'input-block'>
				<div class = 'input-title'>массивы для проверки</div>
				<input id = 'testDigits' type = 'number' min="1" max="10000" step="1" placeholder="от 1 до 20000" value = '1'/>
			</div>

			<div class = 'input-block'>
				<div class = 'input-title'>минимальная ошибка</div>
				<input id = 'errorValue' type = 'number' min="0.000001" max="100" placeholder="от 100 до 0.000001" value = '0.1'/>
			</div>

			<div class = 'input-block'>
				<div class = 'input-title'>количество итераций</div>
				<input id = 'iterations' type = 'number' min="1" max="1000000" step="1" placeholder="от 100 до 1000000" value = '0.1'/>
			</div>

			<button class = 'train-btn'>ТРЕНИРОВАТЬ</button>
			<button disabled = "" class = 'test-btn'>ТЕСТИРОВАТЬ</button>
		</div>
	</div>
</div>

<div class = 'preloader'>
	<div class = 'preloader-title'>
		ЗАГРУЗКА
	</div>
	<div class = 'preloader-rotator'></div>
</div>

//= templates/footer.html
//= templates/footer_scripts.html
//= templates/foot.html